body {
  margin: 50px 60px;
}
.container {
  padding: 30px 40px;
  border-radius: 10px;
  font-family: "Big Shoulders Stencil Text", cursive;
  font-family: "Raleway", sans-serif;
  color: rgb(94, 94, 94);
  background: #e7dfd5;
  width: 70%;
}
.main-img img {
  padding: 0;
  margin: 15px;
  position: relative;
  top: 10px;
  left: px;
  background: white;
  border-radius: 150px;
  box-shadow: 5px 8px 9px;
}
.nice-weather {
  width: 250px;
}
h1,
h2,
h3 {
  text-align: center;
  position: relative;
}
h1 {
  font-weight: bolder;
  font-size: 38px;
  color: #24285b;
  text-shadow: 5 5 5;
}
#date {
  text-align: center;
  font-size: 24px;
}
h3 {
  font-size: 14px;
  line-height: 1em;
}
.general-info-container {
  padding: 15px;
  margin-top: 20px;
}

.container-fc {
  background: white;
  opacity: 0.7;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  box-shadow: 5px 5px 8px 1px;
}
.container-fc {
  margin: 15px;
}
.temperature-container {
  padding: 10px;
  margin-bottom: 25px;
}
.day-fc {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #204051;
}

.max-temp,
.min-temp {
  position: relative;
  top: 15px;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
  color: black;
}

.max-temp-fc,
.min-temp-fc {
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #3b6978;
}
.max-temp-fc {
  text-align: right;
  font-weight: bold;
}
.min-temp-fc {
  text-align: left;
  opacity: 0.9;
}
.units {
  font-size: 16px;
  color: #24285b;
  text-decoration: none;
}
.title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.value {
  font-size: 14px;
  text-align: center;
  margin-bottom: 25px;
  position: relative;
  top: -35px;
}

#current-location-button {
  font-size: 12px;
  position: relative;
  top: 4px;
}
a .repository {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #3b6978;
  text-decoration: none;
}
